#header{
    width: 100%;
    height: 23vh;
    margin-top: 250px;
}

#header h1{
    margin: 20px 20px 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align:justify;
    padding-bottom: 200px;
    
}

#header .brand-name{
    color:#09a9c2;
    font-size: 40px;
}

#header h2{
    color: #484848;
    font-size: 48px;
}

#header .btn-get-started{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #17a2b8;
    border: 2px solid #17a2b8;
    text-decoration: none;
    position: absolute;
    left: 140px;
    margin-top: -58px;
}

#header .btn-get-started:hover {
    background: #17a2b8;
    color: #fff;
}

.header-img{
    text-align: center;
    margin-top: -100px;
    padding-left: 100px;
   
}


